@model PreecoLuckyDraw.Models.USER

@{
    ViewBag.Title = "RegisterUser";
    Layout = null;

}
<a href="~/Home/Index"><h2>Lucky Draw</h2></a>


<body>
    @using (Html.BeginForm("RegisterUser", "Login", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {

        <div class="limiter">
            <div class="container-login100">
                <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
                    <form class="login100-form validate-form">
                        <span class="login100-form-title p-b-49">
                            Register
                        </span>
                        <fieldset>
                            <div class="mgin">
                                <div class="wrap-input100 validate-input" data-validate="Email is required">

                                    @Html.TextBoxFor(model => model.NAME, new { @class = "input100", @type = "text", @name = "name", @placeholder = "Type your name", })
                                    @*<span class="focus-input100" data-symbol="&#xf190;"></span>*@
                                </div>
                                <div class="text-danger">@Html.ValidationMessageFor(model => model.NAME)</div>

                            </div>
                            <div class="mgin">
                                <div class="wrap-input100 validate-input" data-validate="Email is required">

                                    @Html.TextBoxFor(model => model.PHONE, new { @class = "input100", @type = "NUMBER", @name = "username", @placeholder = "Type your PHONE", })
                                    @*<span class="focus-input100" data-symbol="&#xf190;"></span>*@
                                </div>
                                <div class="text-danger">@Html.ValidationMessageFor(model => model.PHONE)</div>

                            </div>
                            <div class="mgin">
                                <div class="wrap-input100 validate-input" data-validate="Password is required">

                                    @Html.TextBoxFor(model => model.DATEOFBIRTH, new { @class = "input100", @type = "DATE", @name = "phone", @placeholder = "Date of birth", })
                                    @*<span class="focus-input100" data-symbol="&#xf190;"></span>*@
                                </div>
                                <div>@Html.ValidationMessageFor(model => model.DATEOFBIRTH)</div>
                            </div>
                            <div class="mgin">
                                <div class="wrap-input100 validate-input" data-validate="Password is required">
                                    @Html.TextBoxFor(model => model.PASSWORD, new { @class = "input100", @type = "password", @name = "password", @placeholder = "Type your PASSWORD", })
                                    <span class="focus-input100" data-symbol="&#xf190;"></span>
                                </div>
                                <div class="text-danger">@Html.ValidationMessageFor(model => model.PASSWORD)</div>
                            </div>
                            <div class="mgin">
                                <div class="wrap-input100 validate-input" data-validate="Password is required">
                                    <input id="confirmpwd" type="password" class="input100"placeholder="Type Confirm PASSWORD" onkeyup="check()" />
                                    <span class="focus-input100" data-symbol="&#xf190;"></span>
                                </div>
                                <div id="statusconfirm"></div>
                            </div>
                            <div class="text-danger">@ViewBag.ErrorRegister</div>
                            <div class="container-login100-form-btn">
                                <div class="wrap-login100-form-btn">
                                    <div class="login100-form-bgbtn"></div>
                                    <button class="login100-form-btn" type="submit">
                                        Sign up
                                    </button>
                                </div>
                            </div>

                            <div class="txt1 text-center p-t-54 p-b-20">
                                <span>
                                    Or <a href="@Url.Action("Login","Login")">
                                        Login
                                    </a>
                                </span>
                            </div>

                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    }
    <link rel="icon" type="image/png" href="~/Assets/login/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Assets/login/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Assets/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Assets/login/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Assets/login/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Assets/login/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Assets/login/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Assets/login/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Assets/login/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Assets/login/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Assets/login/css/main.css">
    <!--===============================================================================================-->
    <script src="~/Assets/login/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Assets/login/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Assets/login/vendor/bootstrap/js/popper.js"></script>
    <script src="~/Assets/login/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Assets/login/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Assets/login/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/Assets/login/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/Assets/login/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/Assets/login/js/main.js"></script>
    <style>
        .container {
            display: block;
            position: relative;
            padding-left: 35px;
            margin-bottom: 12px;
            cursor: pointer;
            font-size: 22px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

            /* Hide the browser's default checkbox */
            .container input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
                height: 0;
                width: 0;
            }

        /* Create a custom checkbox */
        .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 25px;
            width: 25px;
            background-color: #eee;
        }

        /* On mouse-over, add a grey background color */
        .container:hover input ~ .checkmark {
            background-color: #ccc;
        }

        /* When the checkbox is checked, add a blue background */
        .container input:checked ~ .checkmark {
            background-color: #2196F3;
        }

        /* Create the checkmark/indicator (hidden when not checked) */
        .checkmark:after {
            content: "";
            position: absolute;
            display: none;
        }

        /* Show the checkmark when checked */
        .container input:checked ~ .checkmark:after {
            display: block;
        }

        /* Style the checkmark/indicator */
        .container .checkmark:after {
            left: 9px;
            top: 5px;
            width: 5px;
            height: 10px;
            border: solid white;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    </style>
</body>
<script>
    function check() {
        var pwr = document.getElementById("PASSWORD");
        var confirmpwd = document.getElementById("confirmpwd");
        var statusconfirm = document.getElementById("statusconfirm");

        if (pwr.value == confirmpwd.value) {
            statusconfirm.innerHTML = "OK";
            statusconfirm.style.color = "green";
        } else {
            statusconfirm.innerHTML = "Nhập lại mật khẩu";
            statusconfirm.style.color = "red";
        }
    }
</script>